{% extends "base_admin.html" %}

{% block title %}Editar Menú - Parrilla Argentina{% endblock %}

{% block content %}

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Lactosa</th>
            <th>Vegetariano</th>
            <th>Vegano</th>
            <th>Sin Tacc</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id_producto }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.lactosa }}</td>
            <td>{{ producto.vegetariano }}</td>
            <td>{{ producto.vegano }}</td>
            <td>{{ producto.sin_tacc }}</td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <ul class="botones-form">
        <li><button class="form__btn"  id="btn-editar-menu">Editar</button></li>
        <li><button class="form__btn" id="btn-agregar-menu">Agregar</button></li>
        <li><button class="form__btn" id="btn-eliminar-menu">Eliminar</button></li>
    </ul>
</div>
<div class="form" id="agregar_prod" style="display:none">
    <form action="{{ url_for('productos.agregar')}}" method="POST" enctype="multipart/form-data">
        <label class="form__label" for="nombre">Nombre del producto:</label>
        <input class="form__input" type="text" id="nombre" name="nombre" placeholder="Nombre" required>

        <label class="form__label" for="descripcion">Descripción:</label>
        <input class="form__input" type="text" id="descripcion" rows=4 name="descripcion" placeholder="descripcion" required>

        <label class="form__label" for="precio">Precio:</label>
        <input class="form__input" type="number" id="precio" name="precio" placeholder="precio" required>

        <label class="form__label" for="categoria">Categoria:</label>
        <input class="form__input" type="text" id="categoria" name="categoria" placeholder="categoria" required>

        <label class="form__label" for="lactosa">Lactosa:</label>
        <input  type="checkbox" id="lactosa" name="lactosa">

        <label class="form__label" for="vegetariano">Vegetariano:</label>
        <input  type="checkbox" id="vegetariano" name="vegetariano">

        <label class="form__label" for="vegano">Vegano:</label>
        <input type="checkbox" id="vegano" name="vegano">

        <label class="form__label" for="sin_tacc">Sin Tacc:</label>
        <input type="checkbox" id="sin_tacc" name="sin_tacc">

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>

<div class="form" id="eliminar_prod" style="display:none">
    <form action="{{ url_for('productos.eliminar', id_producto=0)}}" method="POST">
        <label class="form__label" for="id_producto">Id del producto: </label>
        <input class="form__input" type="text" id="id_producto" name="id_producto" placeholder="Id Producto" required>


        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>

<div class="form" id="editar_prod" style="display:none">
    <form action="{{ url_for('productos.editar', id_producto=0)}}" method="POST">
        <label class="form__label" for="id_producto">Id del producto: </label>
        <input class="form__input" type="text" id="id_producto" name="id_producto" placeholder="Id Producto" required>

        <label class="form__label" for="nombre">Nombre del producto:</label>
        <input class="form__input" type="text" id="nombre" name="nombre" placeholder="Nombre" required>

        <label class="form__label" for="descripcion">Descripción:</label>
        <input class="form__input" type="text" id="descripcion" rows=4 name="descripcion" placeholder="descripcion" required>

        <label class="form__label" for="precio">Precio:</label>
        <input class="form__input" type="number" id="precio" name="precio" placeholder="precio" required>

        <label class="form__label" for="categoria">Categoria:</label>
        <input class="form__input" type="text" id="categoria" name="categoria" placeholder="categoria" required>

        <label class="form__label" for="lactosa">Lactosa:</label>
        <input type="checkbox" id="lactosa" name="lactosa">

        <label class="form__label" for="vegetariano">Vegetariano:</label>
        <input type="checkbox" id="vegetariano" name="vegetariano">

        <label class="form__label" for="vegano">Vegano:</label>
        <input type="checkbox" id="vegano" name="vegano">

        <label class="form__label" for="sin_tacc">Sin Tacc:</label>
        <input type="checkbox" id="sin_tacc" name="sin_tacc">

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>

<!---COMBOS--->

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for combo in combos %}
        <tr>
            <td>{{ combo.id_combo}}</td>
            <td>{{ combo.nombre }}</td>
            <td>{{ combo.precio }}</td>          
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <ul class="botones-form-combos">
        <li><button class="form__btn" id="btn-editar-combo">Editar</button></li>
        <li><button class="form__btn" id="btn-agregar-combo">Agregar</button></li>
        <li><button class="form__btn" id="btn-eliminar-combo">Eliminar</button></li>
    </ul>
</div>
<div class="form" id="agregar_combo" style="display:none">
    <form action="{{ url_for('combos.agregar')}}" method="POST">
        <label class="form__label" for="nombre">Nombre del combo:</label>
        <input class="form__input" type="text" id="nombre" name="nombre" placeholder="Nombre" required>

        <label class="form__label" for="precio">Precio:</label>
        <input class="form__input" type="number" id="precio" name="precio" placeholder="precio" required>

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>

<div class="form" id="eliminar_combo" style="display:none">
    <form action="{{ url_for('combos.eliminar', id_combo=0)}}" method="POST">
        <label class="form__label" for="id_combo">Id del combo: </label>
        <input class="form__input" type="text" id="id_combo" name="id_combo" placeholder="Id Combo" required>

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>

<div class="form" id="editar_combo" style="display:none">
    <form action="{{ url_for('combos.editar', id_combo=0)}}" method="POST">
        <label class="form__label" for="id_combo">Id del combo: </label>
        <input class="form__input" type="text" id="id_combo" name="id_combo" placeholder="Id Combo" required>

        <label class="form__label" for="nombre">Nombre del combo:</label>
        <input class="form__input" type="text" id="nombre" name="nombre" placeholder="Nombre" required>

        <label class="form__label" for="precio">Precio:</label>
        <input class="form__input" type="number" id="precio" name="precio" placeholder="precio" required>

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>

<!---COMBO VERSION--->
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Personas</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for combo_v in combos_version %}
        <tr>
            <td>{{ combo_v.id_version }}</td>
            <td>{{ combo_v.descripcion }}</td>
            <td>{{ combo_v.personas }}</td>
            <td>{{ combo_v.precio }}</td>           
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <ul class="botones-form-combos-version">
        <li><button class="form__btn" id="btn-editar-combo-version">Editar</button></li>
        <li><button class="form__btn" id="btn-agregar-combo-version">Agregar</button></li>
        <li><button class="form__btn" id="btn-eliminar-combo-version">Eliminar</button></li>
        <li><button class="form__btn" id="btn-ver-combo-version">Ver</button></li>
    </ul>
</div>
<div class="form" id="agregar_combo_version" style="display:none">
    <form action="{{ url_for('combo_version.agregar')}}" method="POST">
        <label class="form__label" for="descripcion">Nombre de la version:</label>
        <input class="form__input" type="text" id="descripcion" name="descripcion" placeholder="Descripcion" required>

        <label class="form__label" for="personas">Personas:</label>
        <input class="form__input" type="number" id="personas" name="personas" placeholder="Personas" required>

        <label class="form__label" for="precio">Precio:</label>
        <input class="form__input" type="number" id="precio" name="precio" placeholder="precio" required>

        <label class="form__label" for="id_combo">Id Combo Version:</label>
        <input class="form__input" type="number" id="id_combo" name="id_combo" placeholder="id combo" required>

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>

<div class="form" id="eliminar_combo_version" style="display:none">
    <form action="{{ url_for('combo_version.eliminar', id_version=0)}}" method="POST">
        <label class="form__label" for="id_version">Id de la version: </label>
        <input class="form__input" type="number" id="id_version" name="id_version" placeholder="Id Version" required>

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>

<div class="form" id="editar_combo_version" style="display:none">
    <form action="{{ url_for('combo_version.editar', id_version=0)}}" method="POST">
        <label class="form__label" for="id_version">Id de la version: </label>
        <input class="form__input" type="number" id="id_version" name="id_version" placeholder="Id Version" required>

        <label class="form__label" for="personas">Personas:</label>
        <input class="form__input" type="number" id="personas" name="personas" placeholder="Personas" required>

        <label class="form__label" for="Descripcion">Nombre de la version:</label>
        <input class="form__input" type="text" id="descripcion" name="descripcion" placeholder="Descripcion" required>

        <label class="form__label" for="precio">Precio:</label>
        <input class="form__input" type="number" id="precio" name="precio" placeholder="precio" required>

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>


<!---COMBOS DETALLE--->

<table border="1">
    <thead>
        <tr>
            <th>Id Combo </th>
            <th>Id Producto</th>
        </tr>
    </thead>
    <tbody>
        {% for combo_d in combos_detalle %}
        <tr>
            <td>{{ combo_d.id_combo }}</td>
            <td>{{ combo_d.id_producto  }}</td>          
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <ul class="botones-form-combos-detalle">
        <li><button class="form__btn" id="btn-agregar-combo-detalle">Agregar</button></li>
        <li><button class="form__btn" id="btn-ver-combo-detalle">Ver</button></li>
    </ul>
</div>
<div class="form" id="agregar_combo_detalle" style="display:none">
    <form action="{{ url_for('combo_detalle.agregar')}}" method="POST">
        <label class="form__label" for="id_combo">Id del combo:</label>
        <input class="form__input" type="number" id="id_combo" name="id_combo" placeholder="id_combo" required>

        <label class="form__label" for="id_producto">id_producto:</label>
        <input class="form__input" type="number" id="id_producto" name="id_producto" placeholder="id_producto" required>

        <button class="form__btn" type="submit">Enviar</button>
    </form>
</div>
<div class="form" id="obtener_combo_detalle" style="display:none">
    <form action="{{ url_for('menu.mostrar')}}" method="GET">
        <label class="form__label" for="id_combo">Id del combo:</label>
        <input class="form__input" type="number" id="id_combo" name="id_combo" placeholder="id_combo" required>

        <button class="form__btn--submit" type="submit">Enviar</button>
    </form>
</div>
{% endblock %}


