{% extends "base_admin.html" %}

{% block title %}Editar Resenias - Parrilla Argentina{% endblock %}

{% block content %}

<table border="1">
    <thead>
        <tr>
            <th>ID Reseña</th>
            <th>Descripción</th>
            <th>Acción</th> </tr>
    </thead>
    <tbody>
        {% for resenia in resenias %}
        <tr>
            <td>{{ resenia.id_resenias }}</td> 
            <td>{{ resenia.descripcion }}</td>                   
            <td>
                <form action="{{ url_for('resenias.eliminar', id_resenia=resenia.id_resenias) }}" method="POST" style="display:inline;">
                    <button class="form__btn" type="submit" onclick="return confirm('¿Seguro que quiere eliminar esta reseña?');">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}